.featured {
  width: 230px;
  height: fit-content;
  margin-right: 30px;
  height: 400px;
}

.featured .img {
  width: 100%;
  height: 250px;
  position: relative;
}

.featured .img .cart {
  background-color: black;
  color: white;
  position: absolute;
  bottom: 10px;
  z-index: 2;
  transform: translateX(-50%);
  left: 50%;
  padding: 10px 10px;
  width: 185px;
  text-align: center;
  border-radius: 5px;
}

.featured .img .hot {
  z-index: 2;
  position: absolute;
  padding: 5px;
  left: 10px;
  top: 10px;
  background-color: white;
  color: black;
  font-weight: bolder;
}

.featured .deets {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  border-left: 0.5px solid #ccc;
  padding: 15px;
  overflow-x: hidden;
}

.featured .deets>div {
  margin: 5px 0;
}


.profile {
  position: absolute;
  width: 270px;
  height: 380px;
  background-color: white;
  right: 0px;
  transition: 0.6s;
  bottom: -380px;
  z-index: 999;
  box-shadow: 5px 9px 30px 0 rgb(0 0 0 / 20%);
  border-radius: 25px;
  overflow: scroll;
  padding: 0;
  margin: 0;
  padding: 30px 25px;
}

.profile img {
  object-fit: cover;
  border-radius: 50%;
}

.userheader {
  width: 100%;
  min-height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  border-bottom: 1px solid #cccc;
  padding-bottom: 20px;
}

.userheader>div:nth-child(1) {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: relative;
}

.userheader>div:nth-child(2) {
  margin-left: 15px;
  height: 100%;
}

.details {
  height: 50px;
  display: flex;
  flex-flow: column;
  font-weight: 200;
  font-size: 16px;
  justify-content: space-between;
}

.profile ul {
  margin: 0 20px;
  padding: 0;
}

.profile ul li {
  list-style-type: none;
  cursor: pointer;
  margin: 20px 0;
}

.profile ul li i {
  margin-right: 15px;
}

.profile>div:nth-child(2) {
  border-bottom: 1px solid #cccc;
}