@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: black;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --main-white: #F9FBFD;
  --leading-mobile: 0.4;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: black;
  background: var(--main-white);
  scroll-behavior: smooth !important;
  scroll-padding-top: 100px;
  scroll-margin-top: 50px;
}

*,
html {
  scroll-behavior: smooth !important;
}

a:hover {
  color: #377DFF;
}
.sales {
  transition: 0.75s ease;
}
.scrollTop {
  width: 40px;
  height: 40px;
  background-color: #171D28;
  position: fixed;
  bottom: -20px;
  opacity: 0;
  border-radius: 6px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.4s;
  color: #ffff;
  border: 2px solid #171D28;
  z-index: 1000;
  box-shadow: 3px 2px 9px 2px rgba(0, 0, 0, 0.21);
}

.highlight {
  color: #171D28;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }
}